body{
  box-sizing: border-box;
  border: 0;
  background-color: rgb(35, 1, 65);
  background-image: url("./../images/67298_c_489_d_7_cbe_4581_f_44_ddf_83_b_0_edd_2.png");
}
.gameContainer{
  position: relative;
  margin : 10px auto;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 8px;
  background: white;
  
  }
.snake-dots-1
{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #89b03d;
  padding: 0;
  margin: 0;
}
.snake-dots-2
{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #596e37;
  margin: 0;
  padding: 0;

}

.food
{
  position: absolute;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 30px 0 #f73e41;
  background-color: #f73e41;
}

.YOUR-SCORE {
  font-family: 'Changa One', cursive;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.LandingPage{
  text-align: center;
  color: #ffffff;  
}
.LandingPage > img
{
  width: 579.2px;
  height: 241.6px;
  object-fit: contain;
  margin: 50px 50px auto
}
   
.signuplink{
  display: block;
  width: 349px;
  height: 64px;
  border-radius: 35px;  
  box-shadow: 0 3px 30px 0 rgba(251, 82, 47, 0.56);
  background-image: linear-gradient(to bottom, #fe5c26, #ef1b63);
  font-family: 'Changa One', cursive;
  text-decoration: none;
  font-size: 42px;
  line-height: 1.33;
  color: inherit;
  padding: 24px;
  margin: 48px auto;
  cursor: pointer;
  }

  .LandingPage > span > a{
    
    font-family: 'Changa One', cursive;
    font-size: 64px;
    color: #ffffff;
    margin: 100px auto;
    cursor: pointer;
    text-decoration: none;
    
  }

/* ----------------------------------------------------------------------------------------------- */
.loginPage{
  margin: 60px auto;
  text-align: center;
  font-family: 'Changa One', cursive;
}
.login
  {
  width: 500px;
  height: 500px;
  border-radius: 38px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: -80px auto;
  }

  .login > h1
  {
   
    font-size: 48px;
    padding: 48px;
    margin: 0 auto;
    
  }

 .email
  {
    margin: 0  auto;
    width: 400px;
    height: 80px;
    border-radius: 35px;
    border: 0;
    background-color: #e5e5e5;
  }
  .email > p{
    text-align: left;
    letter-spacing: normal;
    color: #000000;
    padding: 1px 24px;
    margin: 0;
  }
  .email > input{
    background-color: #e5e5e5;
    border: 0;
    width: 360px;
    height: 48px;
    font-size: 32px;
    font-family: 'Changa One', cursive;
    outline: none;
    margin: auto 30px;
  }
  .login> button{
  width: 400px;
  height: 80px;
  border-radius: 35px;
  background-image: linear-gradient(to bottom, #fe5c26, #ef1b63);
  font-family: 'Changa One', cursive;
  font-size: 42px;
  line-height: 1.33;
  color: #ffffff;
  margin: 32px auto;
  box-shadow: 0 3px 30px 0 rgba(251, 82, 47, 0.56);
  outline: none;
  }
  .login > span{
    vertical-align: top;
  }

  /* ----------------------------------------------------------------------------------------- */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
 
  }
  
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
   
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  
  .centered > p{
    font-family: 'Changa One', cursive;
    color: #ffffff;
    font-size: 40px;
    vertical-align: middle;
    text-align: left;
   }

  .centered > p img{
    vertical-align: top;
  }
  /* Style the image inside the centered container, if needed */
  .logo1{
    margin-top: 64px;
    width: 300px;
  }
  .centered > ul
  {
    font-family: 'Changa One', cursive;
    color: #ffffff;
    font-size: 24px;
    vertical-align: middle;
    text-align: left;
    margin: 0 auto;
  }
  .centered > ul > li{
    padding: 12px;
  }
.logo
{
  width: 128px;
}
.userName{
  vertical-align: middle;
}
/* --------------------------------------------------------------------------------------------------------------- */
  